<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h3>Create an add </h3>
<body>

<form action="/addItem" method="POST" th:object="${item}">
    Name: <input type="text" th:field="*{name}"/>
    Description: <input type="text" th:field="*{description}"/>
    Price: <input type="text" th:field="*{price}"/>
    <input type="submit"/>
    <p><a href="/items">Tillbaka till listan</a></p>
</form>
</body>
</html>