<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../images/mainPage.css">
</head>
<body>
<div class="vertical-menu" id="myMenu">
    <a class="top" href="/" >Home</a>
    <a href="/profile" >Profile</a>
    <a href="/items" >Ads</a>
    <a href="/addItem" class="active">Create new ad</a>
</div>
<div class="createAd">
    <h3 class="createTitle">Create an ad </h3>
</div>
<form class="addItemForm" action="/addItem" method="POST" th:object="${item}" enctype="multipart/form-data">
    <table><div>
        <th class="itemInput">Name: <input type="text" th:field="*{name}"/>
            <p class="error" th:if="${#fields.hasErrors('name')}">Incorrect first name</p></th>
        <tr></tr>
        <th class="itemInput"> Description: <input type="text" th:field="*{description}"/>
            <p class="error" th:if="${#fields.hasErrors('name')}">Incorrect first name</p></th>
        <tr></tr>
        <th class="itemInput">Price: <input type="text" th:field="*{price}"/>
        <p class="error" th:if="${#fields.hasErrors('name')}">Incorrect first name</p></th>
        <th><input type="file" name="image"/></th>
        <--! th:field="*{img} -->
        <tr></tr>
        <th class="itemInput"> <input type="submit"/></th>
    </div>
    </table>
</form>

<div th:if="${item.name != null}">
    <h2 id="ytitle2">Your add is created! </h2>
    <div class ="created">
        <table style="padding-left: 10px;">
            <th><p th:text="'Name: ' + ${item.name}"></p></th>
            <tr></tr>
            <th><p th:text="'Description: ' + ${item.description}"></p></th>
            <tr></tr>
            <th><p th:text="'Price: ' + ${item.price}"></p></th>
        </table>
    </div>
</div>

<p class="knappar" ><a href="/addItem">Create a new add</a> | <a href="/items">Back</a></p>
</body>
</html>