<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h3>Create an add </h3>
<body>

<form action="/addItem" method="POST" th:object="${item}">
    Name: <input type="text" th:field="*{name}"/>
    Description: <input type="text" th:field="*{description}"/>
    Price: <input type="text" th:field="*{price}"/>
    <input type="submit"/>
</form>

<div th:if="${item.name != null}">
    <h3>Your add is created! </h3>
    <p th:text="'Name: ' + ${item.name}"></p>
    <p th:text="'Description: ' + ${item.description}"></p>
    <p th:text="'Price: ' + ${item.price}"></p>
</div>
<p><a href="/addItem">Create a new add</a></p><p><a href="/items">Back</a></p>

</body>
</html>