<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="images/mainPage.css">
    <!-- Sida för att visa en lista med flera annonser -->
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div>
    <div class="newUser">
        <h3>ADS</h3>
    </div>
    <p><a href="/addItem">Ny annons</a></p>
    <div class="userForm">
        <table>
            <tr class="itemlistingsmolheader">
                <th>Namn</th>
                <th>Pris</th>
            </tr>
            <tr th:each="item : ${items}">
                <td class="itemlistingdataname"><a th:href="'/items/' + ${item.id}" th:text="${item.name}"></a></td>
                <td class="itemlistingdataprice" th:text="${item.price} + ' SEK'"></td>
            </tr>
        </table>
    </div>

    <div class="row">

        <span th:if="${showPrev}">
            <a th:href="'/items?page=' + ${currentPage-1}" th:text="Previous"></a>
        </span>

        <span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}"></span>
            <a th:if="${currentPage != page}" th:href="'/items?page=' + ${page}" th:text="${page}"></a>
        </span>

        <span th:if="${showNext}">
            <a th:href="'/items?page=' + ${currentPage+1}" th:text="Next"></a>
        </span>

    </div>
</div>
<p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>



</body>
</html>