<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="images/mainPage.css">
    <meta charset="UTF-8">
    <title>Item</title>

</head>
<body>
<h2>Produkt</h2>
<table class="itemlistingtable">
    <tr class="itemlistingsmolheader">
        <th>Name</th>
        <th th:text="${item.name}"></th>
    </tr>
    <tr>
        <th>Price</th>
        <th th:text="${item.price}"></th>
    </tr>

    <tr>
        <th>Description</th>
        <th th:text="${item.description}"></th>
    </tr>
</table>
<p><a href="/items">Back</a></p>
</body>
</html>