<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <link rel="stylesheet" href="../images/mainPage.css">
</head>
<body>
<form class="logOutButton" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/></form>
<div class="vertical-menu" id="myMenu">
    <a class="top" href="/" >Home</a>
    <a href="/profile" >Profile</a>
    <a href="/yourAds" >Your ads</a>
    <a href="/items" >Ads</a>
    <a href="/addItem" id="bottom" >Create new ad</a>


</div>
<h3 class="itemlistingheader">Product</h3>
<table class="itemlistingtable">
    <tr class="itemlistingsmolheader">
        <th>Name</th>
        <th th:text="${item.name}"></th>
    </tr>
    <tr>
        <th>Price</th>
        <th th:text="${item.price}"></th>
    </tr>

    <tr>
        <th>Description</th>
        <th th:text="${item.description}"></th>
    </tr>
</table>
</body>
</html>