<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        span{
            color: red;
        }
    </style>
</head>
<body>
<h1>New user</h1>
<form action="/newUser" th:object="${user}" method="POST">
    <p>Förnamn: <input type="text" th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}">Fyll i ett namn hörru</span></p>
    <p>Efternamn: <input type="text" th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}">Fyll i ett namn hörru</span></p>
    <p>Mail: <input type="email" th:field="*{email}"/>
        <span th:if="${#fields.hasErrors('email')}">Fyll i din mail hörru</span></p>
    <p>Lösenord: <input type="password" th:field="*{password}"/>
        <span th:if="${#fields.hasErrors('password')}">Fyll i ett lösenord hörru</span></p>
    <input type="submit">
</form>
<p><a href="/">Till startsidan</a></p>
</body>
</html>