.vertical-menu {
  width: 200px;
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      margin-top: 170px;
      font-family: Bahnschrift Light;
}

#myMenu {
  width: 200px;
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      margin-top: 25px;
      font-family: Bahnschrift Light;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}
.top{
border-radius: 10px 10px 0px 0px;
}
#bottom{
border-radius: 0px 0px 10px 10px;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #FFC09F; /* Add a green color to the "active/current" link */
  color: white;
}

.LogInAs
{
    margin-bottom: -160px;
    margin-left: 30px;
}
.logOutButton
{
    margin-left: 1150px;
    margin-top: -35px;
}

.itemlistingheader {
          display: flex;
          width: 400;
          align-text: center;
          background: #669BBC;
          border-radius: 10px;
          align-items: center;
          margin-left: 440px;
          margin-right: 440px;
          margin-top: -213px;
          margin-bottom: 19px;
          padding: 15px 50px 15px 50px;
          align-content: space-around;
          justify-content: space-around;
}

.itemlistinglinks {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.itemlistingdataname {
    width: 150px;
    text-align: left;
}

.itemlistingdataprice {
    width: 150px;
    text-align: right;
}

.itemlistingsmolheader {
    text-align: center;
}

.itemlistingtable {
    justify-items : center;
    font-family: Bahnschrift SemiBold;
    table-layout: fixed;
    background: #88AB75;
    gap:100px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 75px;
    padding-left: 75px;
    justify-content: space-around;
    align-content: space-around;
    margin:auto;
    margin-bottom: 20px;

}
.userInfo
{
    justify-items : center;
    font-family: Bahnschrift SemiBold;
    table-layout: fixed;
    background: #88AB75;
    gap:100px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
       padding-right: 140px;
       padding-left: 140px;
    justify-content: space-around;
    align-content: space-around;
    margin:auto;
    margin-bottom: 20px;

}
.userAds {
      justify-items : center;
        font-family: Bahnschrift SemiBold;
        table-layout: fixed;
        background: #88AB75;
        gap:100px;
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 140px;
        padding-left: 140px;;
        justify-content: space-around;
        align-content: space-around;
        margin:auto;
    background: #FFC09F;
}

h1.kvarteret {
    padding-top: 80px;
    position: absolute;
    left: 210px;
    top: -135px;

}

header{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.headerBild
{
    box-shadow: 0 2px 5px #535353;
    border-radius: 10px;
}

.topMenu {
    display: flex;
    background: #669BBC;
    align-items: center;
    margin-left:330px;
    margin-right: 325px;
    margin-top: 10px;
    margin-bottom: 2px;
    justify-content: center;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.newUser
{
    display: flex;
    background: #669BBC;
    border-radius: 10px;
    align-items: center;
    margin-left:450px;
    margin-right: 450px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.userForm
{
    display: flex;
    background: #88AB75;
    border-radius: 10px;
    align-items: center;
    margin-left:440px;
    margin-right: 440px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 45px 50px 15px 50px;
}
.addItemForm
{display: flex;
    background: #88AB75;
    border-radius: 10px;
    align-items: center;
    margin-left:440px;
    margin-right: 440px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 45px 50px 15px 50px;
    }
    .createAd{
        display: flex;
        background: #669BBC;
        border-radius: 10px;
        align-items: center;
        margin-left:450px;
        margin-right: 450px;
        margin-top: -200px;
        margin-bottom: 20px;
    }
h3{
    font-size: 30px;
    margin-left: 110px;
    text-transform: uppercase;
    font-family: Bahnschrift SemiBold;
}
.createTitle
{
margin-left: 70px;
}
p{
font-family: Bahnschrift Light;
}
div{
    font-family: Bahnschrift Light;
}
a{
font-family: Bahnschrift Light;
    text-decoration: none;
}
.Rlabel
{
margin-left:550px;
}
.backButton
{
    margin-top: 15px;
    margin-left:620px;

}

body {
    background-color: #dfecf4;
    font-family: Bahnschrift Light
}

h2 {
color: #0C4767;
text-transform: uppercase;

}

#ytitle1 {
    display: flex;
    justify-content: center;
    font-family: Bahnschrift SemiBold;
    text-transform: uppercase;
}

#ytitle2 {
    display: flex;
    justify-content: center;
    font-family: Bahnschrift SemiBold;
        margin-top: 80px;
        margin-bottom: -50px;
    }
}

.ylinks{
  font-family: Bahnschrift Light;
  margin-left: 540px;
}
.knappar{
font-family: Bahnschrift Light;
  margin-left: 530px;}
.userInput
{
    padding-bottom: 20px;
}
.itemInput
{
    padding-bottom: 20px;
}
.created{
display: flex;
background: #FFC09F;
border-radius: 10px;
align-items: center;
margin-left:450px;
margin-right: 450px;
margin-top: 50px;
margin-bottom: 20px;
}
.error
{
font-family: Bahnschrift Light;
color: red;
font-size: 12px;
display: flex;
justify-content: center;
margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media(max-width:700px){
    .body{
        flex-direction: column;
        align-items: center;
    }
}

/*
#0C4767 mörkblå
#88AB75 aspargus /grön
#FFC09F peach
#669BBC ljusblå


Bahnschrift SemiBold - rubrik
Bahnschrift Light - brödtext
Bahnschrift Light SemiCondensed - preivous knappar


*/