.itemlistingdataname {
    width: 150px;
    text-align: left;
}

.itemlistingdataprice {
    width: 150px;
    text-align: right;
}

.itemlistingsmolheader {
    text-align: center;
}

.itemlistingtable {
    font-family: Bahnschrift SemiBold;
    table-layout: fixed;
    background: #669BBC;
    gap:100px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 75px;
    padding-left: 75px
}

h1.kvarteret {
    padding-top: 80px;
    position: absolute;
    left: 210px;
    top: -135px;

}

header{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.headerBild
{
    box-shadow: 0 2px 5px #535353;
    border-radius: 10px;
}

.topMenu {
    display: flex;
    background: #669BBC;
    align-items: center;
    margin-left:330px;
    margin-right: 325px;
    margin-top: 10px;
    margin-bottom: 100px;
    justify-content: center;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.newUser
{
    display: flex;
    background: #669BBC;
    border-radius: 10px;
    align-items: center;
    margin-left:450px;
    margin-right: 450px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.userForm
{
    display: flex;
    background: #88AB75;
    border-radius: 10px;
    align-items: center;
    margin-left:440px;
    margin-right: 440px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 45px 50px 15px 50px;
}
.addItemForm
{display: flex;
    background: #88AB75;
    border-radius: 10px;
    align-items: center;
    margin-left:440px;
    margin-right: 440px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 45px 50px 15px 50px;
    }
    .createAd{
        display: flex;
        background: #669BBC;
        border-radius: 10px;
        align-items: center;
        margin-left:450px;
        margin-right: 450px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
h3{
    font-size: 30px;
    margin-left: 110px;
    text-transform: uppercase;
    font-family: Bahnschrift SemiBold;
}
.createTitle
{
margin-left: 70px;
}
p{
font-family: Bahnschrift Light;
}
div{
    font-family: Bahnschrift Light;
}
a{
font-family: Bahnschrift Light;
    text-decoration: none;
}
.Rlabel
{
margin-left:550px;
}
.backButton
{
    margin-top: 15px;
    margin-left:620px;

}

body {
    background-color: #dfecf4;
    font-family: Bahnschrift Light
}

h2 {
color: #0C4767;
text-transform: uppercase;

}

#ytitle1 {
    display: flex;
    justify-content: center;
    font-family: Bahnschrift SemiBold;
    text-transform: uppercase;
}

#ytitle2 {
    display: flex;
    justify-content: center;
    font-family: Bahnschrift SemiBold;
        margin-top: 80px;
        margin-bottom: -50px;
    }
}

.ylinks{
  font-family: Bahnschrift Light;
  margin-left: 540px;
}
.knappar{
font-family: Bahnschrift Light;
  margin-left: 530px;}
.userInput
{
    padding-bottom: 20px;
}
.itemInput
{
    padding-bottom: 20px;
}
.created{
display: flex;
background: #FFC09F;
border-radius: 10px;
align-items: center;
margin-left:450px;
margin-right: 450px;
margin-top: 50px;
margin-bottom: 20px;
}
.error
{
font-family: Bahnschrift Light;
color: red;
font-size: 12px;
display: flex;
justify-content: center;
margin-top: 10px;
}
/*
#0C4767 mörkblå
#88AB75 aspargus /grön
#FFC09F peach
#669BBC ljusblå


Bahnschrift SemiBold - rubrik
Bahnschrift Light - brödtext
Bahnschrift Light SemiCondensed - preivous knappar


*/